In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
import math as m

In [2]:
# loading the iris data
iris = datasets.load_iris()

In [3]:
# converting data into Pandas Data Frame
df = pd.DataFrame(iris.data)
df.columns = ['sl', 'sw', 'pl', 'pw']

In [4]:
# label function to find label for a value of a particular feature
# if value < (df[feature_name].min() + df[feature_name].mean())/2 then it is assigned 'a' label
# if (df[feature_name].min() + df[feature_name].mean())/2 <= value < df[feature_name].mean() then it is assigned 'b' label
# if df[feature_name].mean() <= value < (df[feature_name].max() + df[feature_name].mean())/2 then it is assigned 'c' label
# if (df[feature_name].max() + df[feature_name].mean())/2 <= value then it is assigned 'd' label
def label(val, *boundaries):
    if val<boundaries[0]:
        return 'a'
    elif val<boundaries[1]:
        return 'b'
    elif val<boundaries[2]:
        return 'c'
    else:
        return 'd'
    
def toLabel(df, feature_name):
    second = df[feature_name].mean()
    first = (df[feature_name].min() + second)/2
    third = (df[feature_name].max() + second)/2
    return df[feature_name].apply(label, args=(first, second, third))

In [5]:
# converting all columns to labelled data
df['sl'] = toLabel(df, 'sl')
df['sw'] = toLabel(df, 'sw')
df['pl'] = toLabel(df, 'pl')
df['pw'] = toLabel(df, 'pw')

In [6]:
df.head(10)

  sl sw pl pw
0  b  c  a  a
1  a  b  a  a
2  a  c  a  a
3  a  c  a  a
4  a  c  a  a
5  b  d  a  a
6  a  c  a  a
7  a  c  a  a
8  a  b  a  a
9  a  c  a  a